:root {
  --dark: rgb(20, 9, 74);
  --light: rgb(180, 177, 247);
  --darker: #000000;
  --lighter: #fff;
  font-size: 62.5%;
}

body {
  background-color: var(--light);
  margin: 1rem;
}

.jumbotron {
  text-align: center;
  background-color: var(--dark);
  color: var(--lighter);
}

h1 {
  font-weight: bolder;
}

.city-list {
  height: 30rem;
  width: 30%;
  margin: 1.75rem;
  background: transparent;
  border: 0.2rem dashed var(--dark);
}

.city-picker {
  width: 90%;
  border-radius: 0.5rem;
  margin: 1.5rem;
  font-size: 2rem;
  font-style: italic;
}

.search-btn {
  border: 0.2rem solid var(--dark);
  border-radius: 0.5rem;
  background-color: lightgrey;
  padding: 0.1rem;
  width: 90%;
  margin: 5%;
  height: 3rem;
  font-size: 1.5rem;
}

.search-btn::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--dark);
  height: 0.2rem;
  margin: 2rem 0;
}

.weather-conditions {
  width: 62.5%;
  margin-top: 1.5rem;
  height: 15rem;
  background-color: var(--lighter);
}

.current-weather {
  width: 100%;
  height: 100%;
}

.card {
  align-items: center;
  font-size: 2rem;
}

.five-day {
  height: 15rem;
}

.day {
  justify-content: space-evenly;
  width: 20%;
  margin: 0.5rem;
  height: 15rem;
}

#day1 {
  margin-left: 0;
}
#day5 {
  margin-right: 0;
}

@media (max-width: 500px) {
  .city-list {
    width: 100%;
    border: none;
    align-items: center;
  }

  .weather-conditions {
    width: 90%;
    flex-wrap: wrap;
  }
  .day {
    min-width: 20rem;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
